$default-font-size: 14;

@font-face {
	src: url('../font/Roboto-Regular.ttf');
}

@font-face {
	src: url('../font/CascadiaCode-Regular.ttf');
}

.root {
	-fx-opacity: 0.95;
	-fx-padding: 10px;
	-fx-border-width: 0 2 2 2;
	-fx-border-radius: 0 0 3 3;
	-fx-background-radius: 0 0 4 4;
	-fx-font-family: Roboto Regular;
}

.card-container {
	-fx-spacing: 10px;
}

.ccCard {
	-fx-border-width: 2;
	-fx-border-radius: 2;
	-fx-background-radius: 3px;
	-fx-padding: 5px;
	
	.label {
		-fx-font-size: $default-font-size;
		-fx-padding: 0 3px;
	}
	
	.hyperlink {
		-fx-font-size: $default-font-size;
		-fx-border-width: 0 0 0 2;
		-fx-border-color: transparent;
		-fx-margin: 0;
		-fx-padding: 0 1px;
		
		&:hover {
		    -fx-underline: false;
		    -fx-cursor: default;
		}
		
		&:focused {
			-fx-border-style: solid;
			-fx-cursor: default;
		}
		
		&:visited {
		    -fx-underline: false;
		}
		
		&:pressed {
			-fx-cursor: default;
		}
	}
}

.button {
	-fx-background-color:transparent;
	-fx-border-width: 2;
	-fx-border-color: transparent;
	-fx-font-family: unset;
	
	&.icon-button {
		-fx-border-radius: 100;
		-fx-font-size: 10;
	}
	
	&:pressed {
        -fx-scale-x: 0.95;
		-fx-scale-y: 0.95;
	    -fx-scale-z: 0.95;
	}
}
