$accent-color: rgb(100, 100, 100);
$accent-darker: rgb(80, 80, 80);
$text-color: rgb(0, 0, 0);
$text-color-secondary : rgb(58, 58, 58);
$text-color-input: rgb(0, 0, 0);
$text-background-input: rgb(255, 255, 255);
$background-color:  rgba(255, 255, 255, 0.95);
$border-color: rgba(200, 200, 200, 0.7);
$card-border-color: rgba(255, 255, 255, 0.8);
$card-background-color: rgba(200, 200, 200, 0.5);

@import 'theme_colors'