$accent-color: rgba(0, 186, 203, 1);
$accent-darker: rgba(0, 158, 173, 1);
$text-color: white;
$text-color-secondary : #aaaaaa;
$text-color-input: #dbdbdb;
$text-background-input: black;
$background-color:  rgba(3, 10, 14, 0.90);
$border-color: rgba(0, 158, 173, 0.5);
$card-border-color: rgba(0, 158, 173, 0.2);
$card-background-color: rgba(0, 0, 0, 0.7);

@import 'theme_colors'