$accent-color: rgb(225, 135, 0);
$accent-darker: rgb(193, 116, 0);
$text-color: rgb(232, 232, 232);
$text-color-secondary : #aaaaaa;
$text-color-input: #dbdbdb;
$text-background-input: black;
$background-color:  rgba(17, 9, 0, 0.90);
$border-color: rgba(193, 116, 0, 0.5);
$card-border-color: rgba(193, 116, 0, 0.2);
$card-background-color: rgba(0, 0, 0, 0.7);

@import 'theme_colors'