$accent-color: rgba(255, 230, 150, 1);
$accent-darker: rgba(190, 175, 120, 1);
$text-color: white;
$text-color-secondary : #aaaaaa;
$text-color-input: #dbdbdb;
$text-background-input: black;
$background-color:  rgba(0, 1, 54, 0.90);
$border-color: rgba(0, 2, 150, 0.9);
$card-border-color: rgba(0, 2, 150, 0.5);
$card-background-color: rgba(0, 0, 0, 0.7);

@import 'theme_colors'